[submodule "3rd-party/cmdline"]
	path = 3rd-party/cmdline
	url = https://github.com/sovrasov/cmdline.git
[submodule "3rd-party/random_engine/dcmt"]
	path = 3rd-party/random_engine/dcmt
	url = https://github.com/MersenneTwister-Lab/dcmt.git
